.page {
  width: 380px;
  height: 575px;
  text-align: left;
  margin: auto;
  background-color: rgb(211, 208, 203);
}

#article_title {
  padding-top: .2in; 
  letter-spacing: 3px;
  position: relative; left: 100px;
  color: rgb(70, 18, 32);
  font-family: 'Anton'
}

#intro {
  position: relative; left: 10px;
  color: rgb(140, 47, 57);
  font-family: 'Oswald'
}

.question{
  margin: 10px 0; 
  position: relative; left: 10px;
  color: rgb(76, 87, 96);
  font-family: 'Raleway'
}

.answer{
  margin: 10px 0;
  position: relative; left: 10px;
  color: rgb(76, 87, 96); 
  font-family: 'Raleway'
}

#block_quote {
  border-left: 1px solid rgb(76, 87, 96);
  position: relative; left: 120px;
  font-size: large;
  color: rgb(140, 47, 57);
  font-family: 'Oswald'
}
