.cover {
  width: 350px;
  height: 500px;
  text-align: center;
  margin: auto;
  background-color: gray;
  /* finish your styling of the cover div here! */
}
#title {
  word-spacing: 325px;
  padding-top: .5in;
  font-size: xx-large;
}

#subtitle {
 position: relative; left: 80px;
 font-size: medium;
 color: cyan;

}

#cover_image {

}
